.assuntoImg__conntainer{
    width: 100%;
    height: 20rem;
   
    background-image: url('../Assents/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}