.settingsContainer{
    display: flex;
    flex-direction: column;   

    margin-top: .1rem;
    
    
    
}

.settingsContentButton{

    display: flex;
    align-items: center;
   

    width:100%;
    min-width: 250px;

    color:#797976;
    
    border: none;
    outline: none;

    margin-bottom: .1rem;

    font-size: 1.2rem;

    cursor: pointer;

    padding:.3rem 2rem;
}
.settingsContentButton img{
    width: 25px;
    height: 100%;

    filter: contrast(0);
    margin-right: 1rem;

    
   
}

.settingsContentButton:hover{
    background-color: #dddddd;
    color: rgb(43, 43, 43);
}
